
.liveStudentCard{
    width: 10%;
    margin: 10px;
    height: 100%;
}

.sharkTank{
    width: 100%;
    display: flex;
    flex-flow: wrap row;
}

.sharkBtn{
    width: 200px;
    height: 100px;
    object-fit: cover;
}